body{
    font-family: sans-serif;
    background-color: #080808;
    color: #eee;
}
a{
    color:#14c4ff;
}
body pre{
    font-family: monospace;
    overflow: auto;
    size:auto;
    width:100%;
}
#feed div.description{
    overflow: hidden;
    /*max-height: 32em;*/
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 8; /* number of lines to show */
           line-clamp: 8;
   -webkit-box-orient: vertical;
   font-size: 12pt;
}

#feed input:checked.more ~ div.description{
    overflow:auto;
    max-height: unset;
   -webkit-line-clamp: unset; /* number of lines to show */
           line-clamp: unset;


}
code{
    font-family: monospace;
}
#feed{
    list-style: none;
    width:95%;
}
img{
    max-width:100%;
    max-height:100vh;
}
video{
    max-width:100%;
}
audio{
    width: 100%;
}
.source {
    display: inline;
   font-size: 12pt;
}
label {
    float:right;
    display:inline-block;
    padding: 0px 20px;
    font-size: 14pt;
    text-decoration:dotted underline;

}
#next{
    text-align: center;
}
#feed>li{
    border-top: #555 solid 1px;
    border-bottom: #555 solid 1px;
    overflow-wrap: break-word;
    overflow:auto;
    padding-top: 1em;
    padding-bottom: 1em;
}
#search{
    display:block;
    width:100%;
    text-align:center;
}
#search input[type="text"]{
    width:80%;
    display:inline;

    margin:0 auto;
}
